@(json: String)(implicit environment: play.api.Environment)

@main("Play Scala.js Validation") {
  <textarea id="json-form" rows="10" cols="40">@json</textarea>
  <pre id="validation-output"></pre>
}

<script type="text/javascript">
  var validationOutputPre = document.getElementById("validation-output")
  var jsonFormTextarea = document.getElementById("json-form")

  var demo = function() {
    try {
      var json = JSON.parse(jsonFormTextarea.value);
      validationOutputPre.innerHTML =
        JSON.stringify(client.Validate().user(json), null, 2);
    } catch(err) {
      validationOutputPre.innerHTML = err.message;
    }
  };

  jsonFormTextarea.addEventListener('input', demo, false);
  demo();
</script>
